[submodule "Back-End"]
	path = CRUD-TypeScript
	url = https://github.com/VINICIUS0098876/CRUD-TypeScript.git
[submodule "Front-End"]
	path = Front-MiniProjeto
	url = https://github.com/VINICIUS0098876/Front-MiniProjeto.git
